/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 mars 2018, 13:30:50
    Author     : theo
*/

.arrowStep{
    color: #2bb605c4;

}

.arrowStepText{
    color: #fff;
  
}

.myChevronSelect {
    width: 100%;
    height: 40px;
    position: relative;
    background: #196a04 ;
    margin-left: -1%;
    margin-right: 3%;
    /*border: 1px solid #000;*/
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
.myChevronSelect:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #196a04;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
.myChevron {
    width: 100%;
    height: 40px;
    position: relative;
    background: #2bb605c4;
    margin-left: -1%;
    margin-right: 3%;
    /*border: 1px solid #000;*/
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
.myChevron:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 0px solid white;
    /*border-left: 20px solid white;*/
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
.myChevron:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #2bb605c4;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.myStep {
    width: 11%;
    height: 38px;
    position: relative;
    background: #EBEBEB;
    margin-left: 2%;
    margin-right: -1%;
    /*border: 1px solid #000;*/
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    font-size: 10px;
    margin-bottom: 4px;
}
.myStep:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 9px solid white;
    border-top: 23px solid transparent;
    border-bottom: 14px solid transparent;
}
.myStep:before {
    content: "";
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 0;
    height: 37px;
    border-left: 10px solid #EBEBEB;
    border-top: 23px  solid transparent;
    border-bottom: 16px  solid transparent;
}

.myStepSelect {
    width: 11%;
    height: 38px;
    position: relative;
    background: #2bb605c4;
    margin-left: 2%;
    margin-right: -1%;

    /*border: 1px solid #000;*/
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    font-size: 10px;
}

.myStepSelect:before {
    height: 37px;
    content: "";
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 0;

    border-left: 10px solid #2bb605c4;
    border-top: 23px solid transparent;
    border-bottom: 16px  solid transparent;
}