
/* AJout sidebar-Etiquette */

.menu-etiquette,
.menu-etiquette ul,
.menu-etiquette li,
.menu-etiquette a {
    border: 0;
    font-weight: normal;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}
.menu-etiquette {
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
}
.menu-etiquette .nav > li > a .badge {
    position: absolute;
    right: 10px;
    top: 12px;
}
.menu-etiquette a {
    line-height: 1.3;
}
.menu-etiquette ul ul {
    display: none;
}
.menu-etiquette ul ul li {
    border-top: 0;
}
.menu-etiquette ul ul li.active a {
    color:  #2bb605;

}

.menu-etiquette ul ul a {
    color: #000000;
    /*color: #75798B;*/
    display: block;
    padding: 10px 20px 10px 65px;
    /*taille de la police du menu de gauche*/
    /*font-size: x-small;*/
    font-size: 11.5px;
    font-weight: 600;
}
.menu-etiquette ul ul a:hover {
    color: #2bb605;
}
.menu-etiquette ul ul a i {
    margin-right: 5px;
}
.menu-etiquette ul ul ul a {
    padding-left: 80px;
}
.menu-etiquette .label {
    margin-top: 2px;
}
.menu-etiquette .subdrop {
    background: #f4f8fb !important;
    border-left: 3px solid #2bb605;
    color: #2bb605 !important;
}
.menu-etiquette > ul > li > a {
    color: #36404a;
    display: block;
    padding: 12px 20px;
    margin: 4px 0px;
    border-left: 3px solid #ffffff;
}
.menu-etiquette > ul > li > a:hover {
    color: #2bb605;
    text-decoration: none;
}
.menu-etiquette > ul > li > a > span {
    vertical-align: middle;
}
.menu-etiquette ul li .menu-arrow {
    -webkit-transition: -webkit-transform 0.15s;
    -o-transition: -o-transform 0.15s;
    transition: transform .15s;
    position: absolute;
    right: 20px;
    display: inline-block;
    font-family: 'Material Design Iconic Font';
    text-rendering: auto;
    line-height: 18px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    color: #98a6ad;
}
.menu-etiquette ul li .menu-arrow:before {
    content: "\f1b6";
}
.menu-etiquette ul li a.subdrop .menu-arrow {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.menu-etiquette ul li a i {
    display: inline-block;
    font-size: 16px;
    line-height: 17px;
    margin-left: 3px;
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}
.menu-etiquette ul li a i.md {
    font-size: 18px;
}
.menu-etiquette > ul > li > a > i.i-right {
    float: right;
    margin: 3px 0 0 0;
}
.menu-etiquette > ul > li > a.active {
    background: #f4f8fb !important;
    border-left: 3px solid #2bb605;
    color: #2bb605 !important;
    font-weight: 600;
}

/* second ajout*/
.side-menu-sm {
    width: 180px;
    text-align: center;
}
.side-menu-sm .menu-etiquette > ul > li > a > i {
    display: block;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    margin: 0px;
}
.side-menu-sm .menu-etiquette ul ul a {
    padding: 10px 20px 10px 20px;
}
.side-menu-sm + .content-page + .content-page-m .footer {
    left: 180px;
}
#wrapper.enlarged .side-menu-sm {
    text-align: left;
}
#wrapper.enlarged .side-menu-sm .menu-etiquette ul li a i {
    display: inline-block;
    font-size: 18px;
    line-height: 17px;
    margin-left: 3px;
    margin-right: 15px;
    vertical-align: middle;
    width: 20px;
}
.side-menu-sm + .content-page + .content-page-m {
    margin-left: 180px;
}
/* Header 2 */
.page-header-2 {
    background: #E3E7EC;
    border-bottom: 1px solid #dee2e8;
    margin: -25px -20px 22px -20px;
    padding: 25px 20px 0px 20px;
}
#wrapper.enlarged .menu-title,
#wrapper.enlarged .menu-arrow {
    display: none !important;
}
#wrapper.enlarged .menu-etiquette ul ul {
    border: 2px solid #f4f8fb;
    margin-top: -5px;
    padding-top: 5px;
    z-index: 9999;
    background-color: #ffffff;
}
#wrapper.enlarged .left.side-menu {
    width: 70px;
    z-index: 5;
}
#wrapper.enlarged .left.side-menu .menu-etiquette > ul > li > a {
    padding: 15px 20px;
}
#wrapper.enlarged .left.side-menu .menu-etiquette > ul > li > a:hover {
    background: #f4f8fb!important;
}
#wrapper.enlarged .left.side-menu .menu-etiquette > ul > li > a:active {
    background: #f4f8fb!important;
}
#wrapper.enlarged .left.side-menu .menu-etiquette > ul > li > a:focus {
    background: #f4f8fb!important;
}
#wrapper.enlarged .left.side-menu #menu-etiquette > ul > li > a i {
    margin-right: 20px !important;
    font-size: 20px;
}
#wrapper.enlarged .left.side-menu .label {
    position: absolute;
    top: 5px;
    left: 35px;
    text-indent: 0;
    display: block !important;
    padding: .2em .6em .3em !important;
}
#wrapper.enlarged .left.side-menu .menu-etiquette ul > li {
    position: relative;
    white-space: nowrap;
}
#wrapper.enlarged .left.side-menu .menu-etiquette ul > li:hover > a {
    position: relative;
    width: 260px;
    background: #f4f8fb;
    color: #2bb605;
    border-color: #2bb605;
}
#wrapper.enlarged .left.side-menu .menu-etiquette ul > li:hover > ul {
    display: block;
    left: 70px;
    position: absolute;
    width: 190px;
}
#wrapper.enlarged .left.side-menu .menu-etiquette ul > li:hover > ul a {
    background: #ffffff;
    box-shadow: none;
    padding-left: 15px;
    position: relative;
    width: 186px;
    z-index: 6;
}
#wrapper.enlarged .left.side-menu .menu-etiquette ul > li:hover > ul a:hover {
    color: #2bb605;
}
#wrapper.enlarged .left.side-menu .menu-etiquette ul > li:hover a span {
    display: inline;
}
#wrapper.enlarged .left.side-menu .menu-etiquette li .show-menu + ul {
    display: block;
    left: 70px;
    position: absolute;
    width: 190px;
}
#wrapper.enlarged .left.side-menu .menu-etiquette li .show-menu + ul a {
    background: #ffffff;
    box-shadow: none;
    padding-left: 15px;
    position: relative;
    width: 186px;
    z-index: 6;
}
#wrapper.enlarged .left.side-menu .menu-etiquette li .show-menu + ul a:hover {
    color: #2bb605;
}
#wrapper.enlarged .left.side-menu .menu-etiquette a.subdrop {
    color: #2bb605 !important;
}
#wrapper.enlarged .left.side-menu .menu-etiquette ul > li > ul {
    /*display: none;*/
    display: table-column !important;
}
#wrapper.enlarged .left.side-menu .enu-etiquette ul ul li:hover > ul {
    display: block;
    left: 190px;
    margin-top: -36px;
    position: absolute;
    width: 190px;
}
#wrapper.enlarged .left.side-menu .menu-etiquette ul ul li > a span.pull-right {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    position: absolute;
    right: 20px;
    top: 12px;
    transform: rotate(270deg);
}
#wrapper.enlarged .left.side-menu .menu-etiquette ul ul li.active a {
    color: #2bb605;
}
#wrapper.enlarged .left.side-menu .menu-etiquette ul > li > a span {
    display: none;
    padding-left: 10px;
}
#wrapper.enlarged .left.side-menu .user-details {
    display: none;
}
#wrapper.enlarged .content-page .content-page-m {
    margin-left: 70px;
}
#wrapper.enlarged .footer {
    left: 70px;
}
#wrapper.enlarged .topbar .topbar-left {
    width: 70px !important;
}
#wrapper.enlarged .topbar .topbar-left .logo span {
    display: none;
    opacity: 0;
}
#wrapper.enlarged .topbar .topbar-left .logo .icon-c-logo {
    display: block;
    line-height: 60px;
}
#wrapper.enlarged .menu-etiquette > ul > li:hover > a.open :after {
    display: none;
}
#wrapper.enlarged .menu-etiquette > ul > li:hover > a.active :after {
    display: none;
}

.titrecolor{
    color:blue;
}

.panneauGauche{
    left:10px;
    /*border:1px solid  #bec6cc;*/
    border:1px solid white;
    height:800px;

}
.panneauDroit{
    left:15px;
    border:1px solid white;
    /*border:1.5px solid #bec6cc;*/
    height:800px;
    border-radius:5px;
}

.hauteurCard{
    height: 800px;
    /*height: 500px;*/
}


#tabColor {
    background:#ebeff2;
}
.colored{
    background: #e0e0e0;
}
.tabColor {
    background:#ebeff2;
}

.card-perso{
    background-color: #ffffff;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    /*border-radius: 5px;*/
    padding: 5px;
}

.mg-10{
    margin: -10px;
}

.b-img{
    border: 2px solid #edf0f0;
}

.f-statut{
    font-size:0.50em;
}

.m-l{
    margin-left: 15px;
}

.footerwhite{
    background:#ffffff ! important;
}

.newprogressbar{
    width: 40%;
    height: 20px;
    border-radius: 45px;
}

.btn-34d3eb{
    color:#34d3eb;
}


.h-over{
    /*height: 500px;*/
    overflow-y: scroll;
}

.titrecentrer
{
    text-align: center;
    width: 100%;
}

.labelPagination{
    padding: 9px;
    right: -80px
}

.myButton{
    width: 31px;
    /* line-height: 21px; */
    height: 27px;
    padding: 7px 10px;
    font-size: 12px;
    /* line-height: 0; */
    border-radius: 3px;
    margin-top: -8px;
}

.labelStrong{
    font-weight: 700;
}

.font-17{
    font-size:17px;
}

.mg-left{
    margin-left: -50px;
}

.fieldsetCutomize { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid #cccc;
}

.lgd-color{
    background: #ebeff2;
}

/*.steplabel{
    color:white;
}

div.cd-timeline-content {
    height: 105px;
    background: none;
    box-shadow: 0 5px 0px -5px rgba(0, 0, 0, 0.1);
}

div.ctext-wrap{
    width: 97%;
}

.conversation-list .ctext-wrap {
    background: #fff;
}

.conversation-list .ctext-wrap:before {
    background: #fff;
}

.userName{
    font-size: x-small;
}

.conversation-list {
    height: inherit;
}*/

.steplabel{
    color:white;
}

div.cd-timeline-content {
    height: 105px;
    background: none;
    box-shadow: 0 5px 0px -5px rgba(0, 0, 0, 0.1);
}

div.ctext-wrap{
    width: 97%;
}

.conversation-list .ctext-wrap {
    background: #fff;
    border: 1px solid #cac0c0;
}

.conversation-list .ctext-wrap:before {
    background: #fff;
}

.userName{
    font-size: x-small;
}

.conversation-list {
    height: inherit;
}

.name-dispostion
{
    position: fixed;
    /*left: 100px;*/
    margin-top: 15px;
}

.pm-8{
    margin: 8px;
}



.noresize-textarea-class {
    resize: none
}

/*style de css des tableaux*/
.customTable thead{
    background: #83e768;
}
.customTable th{
    color: #000;
}
/*.table tr td label{
    style pour avoir un tableau discret
    border-bottom: 1px solid hsla(120, 100%, 50%, 0.5) !important;
    white-space: normal;
    height: inherit;
    min-height: 27px;
}*/
caption{
    text-align: center;
    background: #eee;
}
/*fin*/

/*css pour le bouton de supression*/
.iconeSuppression{
    background: #fff;
    border: 1px solid #eaeaea !important;
    color: red;
}

.iconeSuppression:hover{
    background: #f9f9f9;
    border: 1px solid #eaeaea !important;
    color:red;
}
.iconeSuppression i{
    color: red;
}
/*fin*/ 
/*lien de tracking*/
.btnTracking{
    border: 1px solid #337ab7;
    height: 38px;
}
/*fin*/

/*style multi-select*/
.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover{
    background-color: #2bb605;

}
.select2-results ul li
{
    font-size: small;
}
/*fin*/
/*css capitale style*/
.textNormal{
    text-transform: none;
    font-size: 12px;
}
/**/

/*Modal*/
.customModal .modal-header{
    background: #2bb605;
    height: 50px;
}

.customModal .modal-body{
    background: white;
}
.modal-body
{ 
    height: auto !important; 
    /*min-height: 500px !important;*/ 
    max-height: 500px !important; 
    overflow: auto !important;
    /*overflow: hidden;*/
}

.customModal .modal-footer{
    background: #f4f8fb;
}
.customModal h4{
    color: #ffffff;
    line-height: 0px;
    text-align: center;
}
/* ouvrir un deuxieme modale dan un premier */
.secondModal{
    z-index: 1051; 
    background-color: rgba(0, 0, 0, 0.4); 
    padding-top: 12px; 
    /*display: block;*/
}
/* ouvrir un troisieme modale dan un deuxieme */
.thirdModal{
    z-index: 1052; 
    background-color: rgba(0, 0, 0, 0.4); 
    padding-top: 12px; 
    /*display: block;*/
}

.fourthModal{
    z-index: 1053; 
    background-color: rgba(0, 0, 0, 0.4); 
    padding-top: 12px; 
    /*display: block;*/
}
.fiveModal{
    z-index: 1054; 
    background-color: rgba(0, 0, 0, 0.4); 
    padding-top: 12px; 
    /*display: block;*/
}



/*fin*/
.notifyjs-corner {
    z-index: 1060 !important;
}

/*centrer verticalement les labels des selects*/
.labelCenter{
    line-height: 38px;
}
/*fin*/

/*trunquer un texte*/
.truncate {
    /*width: auto;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*bordure des tabs*/
.tab-border{
    border-right: 2px solid white;
    border-left:  2px solid white;
}

/*fin*/

/*fieldset*/
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 0.4em !important;
    margin: 0 0 0.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: inherit;
}
/*fin*/

/*checkbox*/ 
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    margin-bottom: 4px;
    display: inline-block;
    /*font-size: 16px;*/
    font-size: 13px;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0px; top: 1px;
    width: 18px; height: 18px;
    border: 1px solid #cccccc;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 1px; left: 3px;
    font-size: 16px;
    line-height: 1.2;
    color: #2ca164;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/* accessibility */
/*[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 2px dotted #ffffff;
}*/
/* hover style just for information */
label:hover:before {
    border: 2px solid #29a062!important;
    background: #ffffff;
}
/*checkbox*/

.select2-results__option--highlighted {
    color: white !important;
    background-color: limegreen !important;

}
/*custom tab*/
.customTab .tab-content {
    background-color: #fff;
    padding : 15px 15px;
    padding-top: 14px;
    border-left: 1px solid #EBEFF2;
    border-right: 1px solid #EBEFF2;
    border-bottom: 1px solid #EBEFF2;
    /*    display: grid;*/
}

.customTab .nav > li > a {
    /*color: #505461 !important;*/
    color: #000000 !important;
    line-height: 50px;
    height: 50px;
    padding: 8px 15px;
    position: relative;
    background: #EBEFF2;
    /*font-size: 16px;*/
    font-weight: 600;
    text-align: center;
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.customTab .nav-pills li.active a {
    background-color: #fff !important;
    border-top: 2px solid #2bb605;
    cursor: default;
    color: #2bb605 !important;
    border-left: 1px solid #EBEFF2;
    border-right: 1px solid #EBEFF2;

}

.customTab .nav-pills>li+li {
    margin-left: 0px; 
}

.customTab .nav-pills > li > a {
    border-radius: 0;
}

.customTab ul.nav.nav-pills{
    background: #EBEFF2;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*fin custom tab*/
.tab-pane .list-unstyled{
    max-height: 100%;
    overflow: auto;
    position: fixed;
    top: 153px;
    bottom: 0;
    max-width: 240px;
}

#wrapper.enlarged .left.side-menu .tab-pane .list-unstyled {
  display: none !important; 
}
/*border pour delimiter les entetes de formulaire*/
.customDivDelimitor{
    border-top: 2px solid #2bb605;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
/*fin*/

/* old tab delimitor */

ul.tabHeaderDelimitor > li.tab.active {
    border-left: 1px solid #EBEFF2;
    border-right: 1px solid #EBEFF2;
}
.tab-content.tabContainDelimitor {
    border-bottom: 1px solid #EBEFF2;
    border-left: 1px solid #EBEFF2;
    border-right: 1px solid #EBEFF2;
}
ul.nav.nav-tabs.tabs.tabs-top{
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
}
.form-control
{
    height: 27px;
    padding: 5px 10px;
    /*font-size: 10px;*/
    font-size: 11.5px;
    line-height: 1.5;
    border-radius: 3px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.btn 
{
    height: 27px;
    padding: 5px 10px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px;
    /*margin-bottom: -7px;*/
    margin-top: 0px;
}
body
{
    font-size: small;
    font-weight: 200 !important;
}
.leftMenuSize
{
    font-size: small;
}

/*fin*/

/* centrer l'icone de l'input group sur les input-sm */
.input-group-btn .btn {
    padding: 6px 12px;
}
/* fin */

/*taille de la police du menu d'entête du breadcrumb*/
.dropdown-menu > li > a, .breadcrumb {
    /*font-size: x-small;*/
    font-size: 11.5px;
}
/*fin*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*fin custom tab*/
.tab-pane .list-unstyled{
    max-height: 100%;
    overflow: auto;
    position: fixed;
    top: 153px;
    bottom: 0;
    max-width: 240px;
}

/* taille de la police de nom du client et celui de l'application'*/
.logo {
    font-size: 11px;
    /*font-size: 12px;*/
}
/* taille de select2*/
.select2-container .select2-selection--single
{
    height: 32px !important;
}
/* texte contenu de select2*/
.select2-container .select2-selection--single .select2-selection__rendered
{
    line-height: 30px !important;
    font-size: 10px;
}
/* position boutton add configuration de base*/
.btn-conf
{
    margin-left: -5px;
    margin-bottom: 10px;
}
/*fin*/

.customTree{
    overflow: scroll;
    height: auto;
    min-height: 150px;
    max-height: 250px;
}

.selectize-control.multi .selectize-input.has-items {
    height: auto;
    max-height: 100px;
    overflow: scroll;
}

ul.chosen-choices{
    overflow: auto;
    max-height: 20px;
}

/*taille du composant select2*/
span.select2-selection.select2-selection--single{
    height: 30px !important;
}

/*taille des label affichage contexte*/
.labctext
{
    font-size:10.5px !important;
    margin-bottom: -5px;
}
/*taille des input affichage contexte*/
.inptctext
{
    height: 20px;
    padding: 2px 10px;
    font-size: 9px;
    line-height: 1.5;
    border-radius: 3px;
}
/*taille des boutton affichage contexte*/
.btnctext
{
    height: 17px;
    width: 17px;
    padding: 0px 2px;
    font-size: 10.5px;
    line-height: 1.5;
    border-radius: 3px;
}
/*taille des labels contenu*/
label
{
    font-weight: 600;
    /*font-size: x-small;*/
    font-size: 11.5px;
}
/*taille des legends contenu*/
legend
{
    font-size: 11px !important;
}
/*taille des liens contenu*/
a 
{
    /*font-size: 11px;*/
    font-size: 13px;
}
/*taille des titre table contenu*/
.table thead tr th ,b ,h1 ,h2 ,h3 ,h4 ,h5 ,h6
{
    font-size: 12px;
}
.jstree-default .jstree-anchor
{
    font-size: 11px;
}
.jstree-default .jstree-clicked
{
    color: #ffff !important;
}
.pers{margin-right: 3px;}

/*aligner un texte à droite en fonction de diverses dimension d'ecrans*/
@media screen and (min-width: 768px) {
    .textRight{
        text-align: left;
    }
}
@media screen and (min-width: 992px) {
    .textRight{
        text-align: left;
    }
}
@media screen and (min-width: 1200px) {
    .textRight{
        text-align: right;
    }
}

@media screen and (min-width: 100px) and (max-width: 1199px){
    
    .btn-jc{
        margin-top: 25px !important;
    }
}
/* Modale de 70 % responsivité*/
@media all and (min-width: 300px) and (max-width: 700px)
{
    .modal-width-first
    {
        width: 98%;
    }
}
@media screen and (min-width: 700px) and (max-width: 2000px)
{
    .modal-width-first
    {
        width: 70%;
    }
}
/* Modale de 50 % responsivité*/
@media all and (min-width: 300px) and (max-width: 700px)
{
    .modal-width-second
    {
        width: 98%;
    }
}
@media screen and (min-width: 700px) and (max-width: 2000px)
{
    .modal-width-second
    {
        width: 50%;
    }
}
@media (min-width:992px) and (max-width:1340px){.hidden-md{display:none!important}}
@media (max-width: 990px) {
  .enlarged .left.side-menu {
    margin-left: -75px;
  }
  }
  @media (max-width:990px) {
    .content-page {
    margin-left: 0px !important;
}
  }
  @media (max-width:881px) {
    .hidden-xs {
    display: none !important;
}
  }
/*.textRight{
    text-align: right;
}*/
/*@media (min-width: 992px)
.textRight{
    text-align: right;
}*/
/*aligner un texte à gauche*/
.textLeft{
    text-align: left;
}


.autocomplete-list
{
    height: auto; max-height: 170px; overflow: auto;
}
.autocomplete-list ul
{
    max-height: none !important;
    overflow: hidden !important;
}

.dataTables_paginate{
    /*display: contents;*/
}

/*vertical-tab*/

.tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
}
.tabs-left {
    border-right: 1px solid #ddd;
}
.tabs-right {
    border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
    float: none;
    margin-bottom: 2px;
}
.tabs-left>li {
    margin-right: -1px;
}
.tabs-right>li {
    margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent;
}
.tabs-left>li>a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display:block;
}
.tabs-right>li>a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}
.vertical-text {
    /*margin-top:50px;*/
    border: none;
    position: relative;
}
.vertical-text>li {
    height: 160px;
    width: 190px;
    /*margin-bottom: 100px;*/
}
.vertical-text>li>a {
    border-bottom: 1px solid #ddd;
    border-right-color: transparent;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
}
.vertical-text>li.active>a,
.vertical-text>li.active>a:hover,
.vertical-text>li.active>a:focus {
    border-bottom-color: transparent;
    border-right-color: #ddd;
    border-left-color: #ddd;
}
.vertical-text.tabs-left {
    left: -71px;
    width: 0;
}
.vertical-text.tabs-right {
    right: -50px;
}
.vertical-text.tabs-right>li {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.vertical-text.tabs-left>li {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


/*maleki css*/
.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px;
}
.dropzone, .dropzone * {
    box-sizing: border-box;
}
.dropzone .dz-message {
    text-align: center;
    margin: 2em 0;
}
.dropzone .dz-message {
    font-size: 30px;
}

.slider-small:before {
    height: 22px !important;
    width: 22px !important;
    left: -3px ! important;
    bottom: -2px ! important;
    border: solid 1px gray !important;
}
.slider{
    border: solid 1px gray;
}
.subTable
{
    border-bottom: none !important;
    border-top: none !important;
}


/*sections deroulantes mode tablette*/
.responsive-tabs-container .accordion-link {

    background-color: #fff !important;
    border-top: 1px solid #2bb605 !important;
    color: #2bb605 !important ;
    border-left: 1px solid #EBEFF2 !important;
    border-right: 1px solid #EBEFF2 !important;
    border-bottom:  1px solid #EBEFF2 !important;
}
/*maleki menu*/

.form-control {
    color: #000 !important;
}
h4
{
    line-height: 0 !important;

}
.control-label
{
    margin-top: -5px;
    white-space: nowrap;
}

select.input-sm {
    height: 27px;
    line-height: 30px;
}
input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control, input[type=month].form-control {
    line-height: unset;
}

/* diminu les espaces à l'interieur des card-box ou des pages qui ont trop d'espaces'*/
.card-padding{
    padding-top: 5px;
    padding-bottom: 5px;
}

/* diminu les espaces à l'interieur des champs select*/
.select-padding{
    padding-right: 0px;
    padding-left: 0px;
}

/* Surcharger les margin et padding des tabs*/
.nav.nav-tabs + .tab-content {
    background: #ffffff;
    margin-bottom: 0px; 
    padding: 5px; 
}
/*fin*/
/*.switch{height: 15px !important;}*/

.tcustom {

    line-height: 1.42857143 !important;
    vertical-align: top !important;
    padding-top: 9px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 0 !important;
}
.tcustom1 {

    line-height: 1.42857143;
    vertical-align: top;
    padding-top: 9px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;   
}

.breadcrumb
{
    display: none;
}
.nav > li > a 
{
    font-weight: 600;
}

/*customScroll: scroll personalisé à appliquer sur les composant qui auront bésoin des barres de defilement*/
.customScroll::-webkit-scrollbar {
    width: 10.5px;
    height: 7.5px;
}

.customScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0); 
    border-radius: 0px;
    background: #ebeff2;
}

.customScroll::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
    background: #ccc;
}

/* pagination des tableaux */
div.dataTables_paginate ul.pagination {
    margin-top: 0px;
}

/* menu d'entête'*/
.dropdown-menu>li>a {
    color: #000000;
}
/* couleur des element du tableau*/
tbody {
    color: #000000;
}


.Hleft {
    width: auto !important;
    min-width: 220px;
}

/*added by Amorin*/
/*p > label {
    display: block;
}

input[type=text],
input[type=email],
input[type=number],
textarea,
fieldset {
    width : 100%;
    border: 1px solid #333;
    box-sizing: border-box;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
    box-shadow: 0 0 5px 1px none;
}*/
.tabs-vertical-env .nav.tabs-vertical li > a {

    background-color: darkgray;
}

.alertPaiementRed{
    background-color: red;
}
.alertPaiementGreen{
    background-color: green;
}

.datepicker table tr td span.active.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled:hover.disabled, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active.disabled:hover[disabled], .datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active:hover.disabled, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active:hover[disabled], .datepicker table tr td span.active[disabled] {
    background-color: #2bb605 !important;
}
.datepicker table tr td span.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active:hover 
{
    background-image: none !important;
}
oi-select .btn-default{
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
    color: #000000 !important;
}
oi-select .btn-default:hover{
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
    color: #000000 !important;
}
oi-select .select-search{
    height: 27px;
}
oi-select .select-search-list{
    padding: 0 4px !important; 
}
oi-select .select-search-list-item_selection {
    margin: -5px 4px 2px 0 !important;
}
oi-select .select-dropdown {
    position: inherit !important;
}

@media (min-width: 1345px)
{
.nav > li > a i {
    font-size: 12px;
    /*display: none;*/
}
}
.nav > li > a{
    padding: 0 6px !important;
}
