.ms-container {
    width: 100%;
}

.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover{
    background-color: #f05050;
}

.carouDiv{
    border:1px solid #ccc;
    width: 100%; 
    height: 100px;
    text-align:center;
}

.owl-carousel .owl-item .element {
    width: 90%;
}

.owl-theme .owl-dots {
    display: none;
}

.owl-carousel {
    position: relative;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}

.myFontSize{
    font-size: 13px;
}
.myIcon{
    vertical-align: middle;
    padding: 29px 23px;
    color: red;
}
.arrowStep{
    color: #cfd8dc;
}

.arrowStepText{
    color: #fff;
}

.myChevronSelect {
    width: 100%;
    height: 40px;
    position: relative;
    background: #f05050;
    margin-left: -1%;
    margin-right: 3%;
    /*border: 1px solid #000;*/
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
.myChevronSelect:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #f05050;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
.myChevron {
    width: 100%;
    height: 40px;
    position: relative;
    background: #cfd8dc;
    margin-left: -1%;
    margin-right: 3%;
    /*border: 1px solid #000;*/
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
.myChevron:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 0px solid white;
    /*border-left: 20px solid white;*/
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
.myChevron:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #cfd8dc;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}