<!--<ul class="nav nav-bar-nav hidden-xs">
    <li><a href="#" class="waves-effect waves-light"><span class="ik ik-settings m-r-5"></span>Dropdown</a></li>
    <li class="dropdown" sec:authorize="hasAnyAuthority('FC_ADMIN')">
        <a href="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown"
           role="button" aria-haspopup="true" aria-expanded="false"><span class="ik ik-settings m-r-5"></span>Administration <span
                class="ik ik-chevron-down"></span></a>
        <ul class="dropdown-menu">
                <li class="tab"><a onclick="saveInSession('habil');"  data-toggle="tab" aria-expanded="false" href="#habilitation"><span class="ik ik-layers m-r-5"></span>Habilitation</a></li>
            <li class="tab"><a onclick="saveInSession('paramTiers'); menuInContent('paramTiers');" data-toggle="tab" aria-expanded="false" href="#param-Tiers"><span class="ik ik-user-check m-r-5"></span>Profil d'utilisateurs</a></li>                                    
        </ul>
    </li>
</ul>-->

<ul class="nav nav-bar-nav hidden-xs">
    <!--<li><a href="#" class="waves-effect waves-light"><span class="ik ik-settings m-r-5"></span>Dropdown</a></li>-->
    <li class="dropdown" sec:authorize="hasAnyAuthority('FC_ADMIN')">
        <a href="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown"
           role="button" aria-haspopup="true" aria-expanded="false"><span class="ik ik-settings m-r-5"></span>Administration <span
                class="ik ik-chevron-down"></span></a>
        <ul class="dropdown-menu">
                <li class="tab"><a onclick="saveInSession('habil');"  data-toggle="tab" aria-expanded="false" href="#habilitation"><span class="ik ik-layers m-r-5"></span>Habilitation</a></li>
            <!--<li class="tab"><a onclick="saveInSession('paramTiers'); menuInContent('paramTiers');" data-toggle="tab" aria-expanded="false" href="#param-Tiers"><span class="ik ik-user-check m-r-5"></span>Profil d'utilisateurs</a></li>-->                                    
        </ul>
    </li>
</ul>
<!--<ul class="nav nav-bar-nav hidden-xs">
    <li><a href="#" class="waves-effect waves-light"><span class="ik ik-settings m-r-5"></span>Dropdown</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown"
           role="button" aria-haspopup="true" aria-expanded="false"><span class="ik ik-settings m-r-5"></span>Parametrage <span
                class="ik ik-chevron-down"></span></a>
        <ul class="dropdown-menu">
            <li class="tab"><a onclick="saveInSession('config');"  data-toggle="tab" aria-expanded="false" href="#configuration"><span class="ik ik-layers m-r-5"></span>Configuration</a></li>
            <li class="tab"><a onclick="saveInSession('reg');"  data-toggle="tab" aria-expanded="false" href="#regie"><span class="ik ik-layers m-r-5"></span>Régie</a></li>
            <li class="tab"><a onclick="saveInSession('paramTiers'); menuInContent('paramTiers');" data-toggle="tab" aria-expanded="false" href="#param-Tiers"><span class="ik ik-user-check m-r-5"></span>Profil d'utilisateurs</a></li>                                    
        </ul>
    </li>
</ul>-->
